$baseline: 4px;

$colors: (
    primary: #83ED6E,
    secondary: #A8F29A,
    tertiary: #CDF8C5,
    default: #FFFFFF,
    light-gray: #F4F5F8,
    black: #000000,
    black-secondary: #52575C,
    red: #E93C3C,
    red-secondary: #FB4E4E
);